body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.main {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 5em;
    font-size: 3em;
}

.main i {
    margin-right: 0.5em;
}

.line {
    margin: 0;
    padding: 0;
    border: none;
    height: 2.5px;
    width: 200px;
    background-color: rgb(129, 125, 125);
    position: absolute;
}

.circle{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: black;
}

.slider {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
